.my-name {
	font-family:helvetica;
	font-weight:bold;
	font-size:300%;
	color:#cb4b16;
	padding-top:15px;
}

.menu-item {
	font-family:helvetica;
	font-weight:bold;
	font-size:133%;
	
	padding-left:17px;
	color:#002b36;
}

.menu {
	display:flex;
	padding-bottom:7px;
}

.header {
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
	padding-top:15px;
	padding-left:7px;
	padding-right:7px;
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
}

.center {
    max-width: 1150px;
    margin: auto;
    overflow: visible;
}
.content-title {
	font-family:helvetica;
	font-weight:bold;
	font-size:400%;
	color:#002b36;
	margin-top:500px;
	margin-left:100px;
	position: absolute;
	transform: rotate(-90deg);
	z-index: 100;
}

.content {
	font-family:helvetica;
	font-size:175%;
	color:#002b36;
	text-align:center;
	padding-top:25px;
	margin-left:auto;
	margin-right:auto;
}

.content-body {
	font-family:helvetica;
	font-size:125%;
	color:#002b36;
	max-width:700px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.hline {
	max-width:1250px;
	border:1.5px solid #002b36;
}
