/*
Thistle (#E0BBE4),
Lavender Purple (#957DAD),
Pastel Violet (#D291BC),
Cotton Candy (#FEC8D8),
Lumber (#FFDFD3)
*/

.my-name {
	font-family:helvetica;
	font-weight:bold;
	font-size:300%;
	color:#FEC8D8;
	padding-top:15px;
}

.menu-item {
	font-family:helvetica;
	font-weight:bold;
	font-size:133%;
	
	padding-left:17px;
}
a:link {
  color: #FEC8D8;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FEC8D8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #D291BC;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #FFDFD3;
  background-color: transparent;
  text-decoration: underline;
}

.menu {
	display:flex;
	padding-bottom:7px;
}

.header {
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
}

.content-header {
	font-family:helvetica;
	font-size:225%;
	color:#957DAD;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.content {
	font-family:helvetica;
	font-size:175%;
	color:#FEC8D8;
	text-align:center;
	padding-top:25px;
	margin-left:auto;
	margin-right:auto;
}

.content-body {
	font-family:helvetica;
	font-size:125%;
	color:#FFDFD3;
	max-width:700px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.hline {
	max-width:1250px;
	border:1.5px solid #957DAD;
}
